<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Gist Automation Suite" parallel="tests" thread-count="1" data-provider-thread-count="1">
    <listeners>
        <listener class-name="gist.listeners.TestListener"/>
    </listeners>
    
    <!-- Chrome Tests Only -->
    <test name="Chrome Tests">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="gist.tests.CreateGistTest">
                <methods>
                    <include name="CreateSecretGistTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>
